.overlay {

    min-height: 100vh;
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0;
    bottom: 0;
    right: 0%;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {

    background-color: white;
    width: 50%;
    height: auto;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;

        .button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            outline: none;
            border: none;
            font-size: 17px;
            background-color: transparent;
            cursor: pointer;
        }

        .inner-box {
            margin-top: 30px;
            display: flex;
            justify-content: center;
           
            img {
             margin-right: 20px;
             width: 150px;  
             height: 200px; 
            }
        }
        
        .description {
            margin-top: 2rem;
            text-align: justify;
            font-size: 13px;
        }
    }
}